@font-face {
  font-family: "Star Jedi";
  src: url("./fonts/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Star Jedi', sans-serif;
}

.container {
  padding-top: 60px;
  padding-bottom: 40px;
}

.main {
  background: url('../images/swb.jpg') no-repeat center center fixed;
  background-size: cover;

  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.main-title {
  font-size: 3rem;
  opacity: 0.8;
  margin: 0;
}

.logo {
  font-size: 7rem;
  text-align: center;
  opacity: 0.8;
  margin: 0;
}

.btn-container {
  padding-top: 40px;
}

.btn-block {
  min-width: 100%;
}

.characters {
  height: 600px;
  overflow: auto;
}

td:last-child {
  width: 162px;
}